@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    margin: 0;
    padding: 0;
    background-color: #737373;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    min-width: 650px;
    grid-template-columns: max(650px, 70%);
    justify-content: center;
    gap: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.book-adder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.book-adder > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-img img {
    height: 3rem;
    background-color: red;
    border-radius: 50%;
    position: relative;
    transition: box-shadow 0.5s ease-in-out;
}

.add-img img:hover {
    box-shadow: 4px -4px 5px yellow;
}

::backdrop {
    background-color: black;
    opacity: 0.25;
}

dialog {
    border:0;
    padding:0;
    border-radius: 5%;
}

.modal {
    padding: 15px 40px;
    border-radius: 5%;
    background-color: beige;
}

.container-books {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
    padding: 20px;
}

.card-item {
    background-color: #f7fee7;
    padding: 15px;
    display: grid;
    grid-template-rows: 2fr;
    gap: 15px;
    border-radius: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    gap: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.3rem;
}

form > span {
    font-size: 2rem;
    font-weight: 700;
}

input[type='number'],
input[type='text'] {
    width: 95%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2rem;
}

.book-finished {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons > button {
    font-size: 1.3rem;
}

.read-status {
    display: flex;
    justify-content: space-between;
}

.book-title {
    font-size: 1.4rem;
    font-weight: 700;
}

.author-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.n-pages {
    justify-self: end;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#arrow {
    width: 40px;
}

button.delete {
    width: fit-content;
    border-radius: 20px;
    border: none;
    justify-self: center;
    background-color: #f87171;
    margin-top: 10px;
    font-size: 1.1rem;
}
